
###################
# System Settings #
###################

[SYSTEM]
# List of tuners that can be used
tuners: 1316bad1:0 1316bad1:1 1316bad1:2
mpeg_path: /mnt/raid/Recordings/.mpeg/
mp4_path: /mnt/raid/Recordings/


########################
# Automatic Scheduling #
########################
# This is the more common style of schedling recordings.  You specify
# a name of the show and the listing manager will search the database
# for matches.  This function will not work unless the listing manager
# is running

[South_Park]
type: automatic
title_regex: South Park
only_new: yes
hd: yes

#####################
# Manual Scheduling #
#####################
# This is for setting VCR-style recordings where you specify a channel
# and time, it will record accordingly.

[E_news]
type: manual
channel: 115
start_time: 8:00PM
duration: 1h
repeat: 01234
priority: 1

[Tonight_Show]
type: manual
channel: ...
start_time: 10:30PM
duration: 1h
repeat: 01234
priority: 3



